<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">

  <title>Digital Wallet | Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
   <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
   <link href="styles.css"  rel="stylesheet">
   <link href="custom-styles.css"  rel="stylesheet">

</head>

<body>
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex justify-content-between">
 
            <img src="images/logo-removebg-preview (3).png" (3).png alt="Save the Children Logo" width="290" height="auto" style="margin-right: 20px;">
            <div>
            <right><h7>Where Your Wallet Meets the Future</h7></right>
            </div>
        </div>
    </header>

    <section id="hero">
        <div class="hero-content">
            <div class="background-content">
                <center><h2>Welcome to Social Security Digital Wallet</h2></center>
                <centre><h3>The premier digital wallet service designed specifically for disadvantaged individuals and elders above 65 who receive government grants.<br>
                     Our innovative web app allows users to quickly access their funds and perform a wide range of transactions, from checking balances to paying bills and managing finances.<br>
                      With our user-friendly interface and secure platform, we make it easy for our customers to stay in control of their money and meet their financial need.<br>
                      Discover the convenience and simplicity of Social Security Digital Wallet today.</h3></centre>
                <div>
                    <nav id="navbar" class="navbar">
                        <a href="sign_up.html" class="nav-button">Sign up</a>
                        <a href="Sign_in.html" class="nav-button">Sign in</a><br><br><br>
                        <center><a href="sign_in.html" class="nav-button">Already Have an Account? Sign in</a></center>
                    </nav>
                </div>
                
            </div>
        </div>
     </section>
     <footer>
        <p>&copy; 2023 Digital Wallet</p>
      </footer>
    </body>
    
    </html> 