<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">

  <title>Digital Wallet | Sign up</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
   <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
   <link href="styles.css"  rel="stylesheet">
   <link href="custom-styles.css"  rel="stylesheet">

</head>

<body>
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex justify-content-between">
 
            <img src="images/logo-removebg-preview (3).png" (3).png alt="Save the Children Logo" width="290" height="auto" style="margin-right: 20px;">
            <div>
            <right><h7>Where Your Wallet Meets the Future</h7></right>
            </div>
        </div>
    </header>

    <section id="hero">
        <div class="hero-content">
            <div class="background-content">
                <center><h2>Register to Digital Wallet</h2></center>
                <div>
                    <form action="/new-user" method="post">
                        <label for="firstname">First Name:</label>
                        <input type="text" id="firstname" name="firstname" required><br><br>
                
                        <label for="lastname">Last Name:</label>
                        <input type="text" id="lastname" name="lastname" required><br><br>

                        <label for="phone_number">Phone Number:</label>
                        <input type="text" id="phone_number" name="phone_number" required><br><br>

                        <label for="account_number">Account Number:</label>
                        <input type="text" id="account_number" name="account_number" required><br><br>
                
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required><br><br>
                
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required><br><br><br>

                        <input type="submit" value="Sign Up" class="action_button"></div>
                        {{!-- <a href="dashboard.html" class="nav-button">Sign up</a> --}}
                    </form>
                </div>
                <a href="/login">Already have an account?</a>
            </div>
        </div>
     </section>
     <footer>
        <p>&copy; 2023 Digital Wallet</p>
      </footer>
    </body>
    
    </html> 