<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">

  <title>Digital Wallet | Sign up</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
   <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
   <link href="styles.css"  rel="stylesheet">
   <link href="custom-styles.css"  rel="stylesheet">

</head>

<body>
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex justify-content-between">
 
            <img src="images/logo-removebg-preview (3).png" (3).png alt="Save the Children Logo" width="290" height="auto" style="margin-right: 20px;">
            <div>
            <right><h7>Where Your Wallet Meets the Future</h7></right>
            </div>
        </div>
    </header>

    <section id="hero">
        <div class="hero-content">
            <div class="background-content">
                <center><h2>Register to Digital Wallet</h2></center>
                <div>
                    <form action="/send-money/{{id}}" method="post">
                        <label for="phone_number">Enter the phone number:</label>
                        <input type="number" id="phone_number" name="phone_number" required><br><br>
                
                        <label for="amount">Enter the Amount (RANDS):</label>
                        <input type="number" id="amount" name="amount" step="0.01" required><br><br>
            
                        
                        <input type="submit" value="Send Money" class="action_button"></div>
                    </form>
                </div>
                
            </div>
        </div>
     </section>
     <footer>
        <p>&copy; 2023 Digital Wallet</p>
      </footer>
    </body>
    
    </html> 